<!DOCTYPE HTML PUBLIC>
<html lang="en">
<head>
</head>
<body>
  Block Doc -> {

    <span> .DocumentName </span>
    <span> .EncryptionKey </span>
    <span> _.DecoderString </span>

  }

  {{ if=".authorization" }} 
    {{ Doc(.elfDocs) }} 
  {{ /authorization}} 
</body>
</html>